{% extends "base.html" %} {% block content %}
{% load static %}

<section class="content">
    <div class="flex">
        <img src="/static/img/logo.png" alt="" class="logo">
        <h2 class="title"><a href="#">EDIT</a></h2>
    </div>
    <section class="post_form">
        <div class="post-avatar">
            <img
                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                alt=""
            />
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" value="{{posts.name}}" class="input_area" required>
            <textarea class="text-area" name="body" placeholder="tell us anything" value="{{posts.body}}" required></textarea>
            
            <img class="post-image" id="img" src="{{posts.image.url}}" class="post-image" alt=""><br>

            <input class="form-control form-control-sm" name="image" type="file" value="{{posts.image.url}}">
            <div class="editfotter">
                <input type="submit" class="btn" value="Update">
                <a href="{% url 'index' %}" class="btn">Cancel</a>
            </div>
        </form>
    </section>
</section>
{% endblock %}
